<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @position.title %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @position.created_at %>
</p>

<p>
  <strong>Location:</strong>
  <%= @position.location %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @position.kind %>
</p>

<p>
  <strong>Description:</strong>
  <%= @position.description %>
</p>

<h2>Reviews</h2>
<%= render @position.reviews %>


<h2>Add a review:</h2>
<%= render 'reviews/form' %>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
